@model CareFit.Portal.Models.Authentication.IndexVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAuthentication.cshtml";
}

<script src="~/Content/js/Global/Utils.js"></script>
<script src="~/Content/js/Authentication/index.js"></script>

<!-- Begin Login Page -->
<div class="full-content-center animated fadeInDownBig">
    <a href="#fakelink">
        <img src="@Model.Image.Url" class="img-circle" alt="Logo" style="width:250px;"></a>
    <div class="login-wrap">
        <div class="box-info">
            <h2 class="text-center"><strong>@Model.CustomerName</strong> Login</h2>
            <form method="POST" role="form" action="@Url.Action("Autorize", "Authentication")" id="form-authentication-user" onsubmit="JavaScript:return validAuthenticationForm();">
                <div class="form-group login-input">
                    <i class="fa fa-sign-in overlay"></i>
                    <input  class="form-control text-input" value="@(string.IsNullOrEmpty(Model.UserMail) ? "" : "")" placeholder="E-mail" name="mail" id="people-mail" type="email">
                </div>
                <div class="form-group login-input">
                    <i class="fa fa-key overlay"></i>
                    <input type="password" class="form-control text-input" placeholder="Senha" name="pass" value="" id="people-pass">
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-success btn-block"><i class="fa fa-unlock"></i>Entrar</button>
                    </div>
                    @*<div class="col-sm-6">
                        <a href="register.html" class="btn btn-default btn-block"><i class="fa fa-rocket"></i>Cadastrar-se</a>
                    </div>*@
                </div>
            </form>

            @* <p class="text-center"><strong>- or -</strong></p>

            <button type="button" class="btn btn-primary btn-block btn-facebook"><i class="fa fa-facebook"></i>Logar atraves do Facebook</button>
            <button type="button" class="btn btn-primary btn-block btn-twitter"><i class="fa fa-twitter"></i>Logar atraves do Twitter </button>*@

        </div>
        <p class="text-center">
            <a class="btn btn-primary btn-block" id="forget-my-password-button"><i class="fa fa-lock"></i>Esqueceu sua senha?</a>
        </p>
        @if (!string.IsNullOrEmpty(Model.Error))
        {                
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Atenção!</strong> @Model.Error
            </div>
        }
    </div>
</div>
<!-- End Login Page -->
